img.me{
	float: left;
	width: 22%;
}
div.n1{
	background-color: white; 
	width: 70%;
	height: 538px;
}
div.school{
	width: 15.5%;
	height: 538px;
	margin-right:2%;
	margin-left: 2%;
	float: right;
	text-align: center;
}
div.school:hover{
	background-color: #613030;
	color: white;
}
img.school1{
	width: 150px;
	margin-top: 25%;
}
img.school2{
	width: 150px;
	margin-top: 25%;
}
img.school3{
	width: 150px;
	margin-top: 25%;
}
img.school4{
	width: 150px;
	margin-top: 25%;
}
p.school{
	letter-spacing:5px;
	font-size: 20px;
	font-weight: bold;
	writing-mode:vertical-lr;
	margin-top: 20%;
	margin-left: 44%;
}
#sidebar{
	width:15%;
	height:55%;
	text-align:left;
	font-size:20px;
	color:white;
	background-color:#FFC1E0;
	float:left;
	position:fixed;
	left: 85%;
    top: 30%;
	border-radius:30px;
}
#sidebar p{
	margin-left: 5%;
	color: #F00078;
}
#sidebar img{
	width: 70px;
	margin:2%;
}
#sidebar a{
	margin-left: 5%;
}
div.n2{
	background-color: white; 
	width: 70%;
	height: 538px;
}
img.club1{
	width: 23%;
}
img.club4{
	margin-left: 8%;
	float: left;
	width: 52%;
}
img.club1:hover{
	transform: scale(1.2);
}
img.club4:hover{
	transform: scale(1.2);
}
div.n2 p{
	font-size: 32px;
	font-weight: bold;
	letter-spacing:8px;
	text-align: center;
}
hr{
	margin-top: 1%;
	width: 80%;
	text-align:center;
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}
div.n3{
	background-color: white; 
	width: 70%;
	height: 340px;
	columns: 3;
}
.n3 ul{
	list-style-type: none;
	margin-right:40px;
}
.n3 li{
	font-size: 22px;
	line-height: 200%;
}
.n3 p{
	line-height: 200%;
	font-size: 18px;
}
div.interest{
	width:80%;
	height: 300px;
	background-color: orange;
	-webkit-column-break-before: always; 
}
div.goal{
	width:80%;
	height: 300px;
	background-color: orange;
	-webkit-column-break-before: always;
}
div.selfexpect{
	width:80%;
	height: 300px;
	background-color: orange;
	-webkit-column-break-before: always;
}
div.n4{
	background-color: white; 
	width: 70%;
	height: 1200px;
	columns: 2;
	column-gap:  20%;
}
div.left{
	margin-left: 200px;
}
div.right{
	margin-right: 100px;
}
.n4 h1{
	 column-span:all;
}
.n4 img:hover{
	transform: scale(1.5);
}
footer{
	background-color: #777777;
	height:60px;
	color: #EFEFEF;
	padding: 15px 15px;
	font-size: 14px;
	font-family: "微軟正黑體";
}